examples/AIS Ship tracking.json
[{"id":"4a2a517c24756dd7","type":"inject","z":"4975721d532ca722","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1.5","topic":"","payload":"{\"ApiKey\":\"98b7baa7c28523ee89bf81385d1dd4b0e10dbb5b\",\"BoundingBoxes\":[[[50.53,-1.74],[50.92,-0.87]]]}","payloadType":"json","x":130,"y":80,"wires":[["634b54ce6e84815c"]]},{"id":"634b54ce6e84815c","type":"websocket out","z":"4975721d532ca722","name":"","server":"","client":"c4969a518f312d32","x":440,"y":80,"wires":[]},{"id":"2c588ebb31741e9c","type":"websocket in","z":"4975721d532ca722","name":"","server":"","client":"c4969a518f312d32","x":220,"y":140,"wires":[["075c16c6db362eaa"]]},{"id":"2ddff4b3d27e46ad","type":"debug","z":"4975721d532ca722","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":140,"wires":[]},{"id":"075c16c6db362eaa","type":"json","z":"4975721d532ca722","name":"","action":"obj","pretty":false,"property":"payload","targetType":"msg","x":470,"y":140,"wires":[["5160bc824e174c8f","2ddff4b3d27e46ad"]]},{"id":"35eee8510a2373cf","type":"debug","z":"4975721d532ca722","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":220,"wires":[]},{"id":"beb941a57fee42ae","type":"remap","z":"4975721d532ca722","name":"","property":"payload","outproperty":"","map":{"MessageType":"_BLOCK_","MetaData":"payload","PositionReport":"payload","StaticDataReport":"payload"},"pass":"_BLOCK_","drop":true,"x":210,"y":280,"wires":[["23751d8699c53484","61c8b068401b7c9a"]]},{"id":"5e828f0e7988e0dd","type":"worldmap","z":"4975721d532ca722","name":"","lat":"50.79","lon":"-1.28","zoom":"11","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","showruler":"true","allowFileDrop":"false","path":"/worldmap","overlist":"CO","maplist":"OSMG,OSMH,EsriS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":460,"y":440,"wires":[]},{"id":"61c8b068401b7c9a","type":"debug","z":"4975721d532ca722","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":280,"wires":[]},{"id":"b5a3b1e0381d8a2f","type":"debug","z":"4975721d532ca722","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":340,"wires":[]},{"id":"304c861d1786eb5f","type":"debug","z":"4975721d532ca722","name":"debug 10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":400,"wires":[]},{"id":"23751d8699c53484","type":"remap","z":"4975721d532ca722","name":"","property":"payload","outproperty":"payload","map":{"Cog":"_ALLOW_","CommunicationState":"_BLOCK_","Latitude":"_BLOCK_","Longitude":"_BLOCK_","MessageID":"_BLOCK_","NavigationalStatus":"_BLOCK_","PositionAccuracy":"_BLOCK_","Raim":"_BLOCK_","RateOfTurn":"_BLOCK_","RepeatIndicator":"_BLOCK_","Sog":"SOG","Spare":"_BLOCK_","SpecialManoeuvreIndicator":"_BLOCK_","Timestamp":"_ALLOW_","TrueHeading":"hdg","UserID":"_BLOCK_","Valid":"_BLOCK_","AisVersion":"_BLOCK_","CallSign":"_ALLOW_","Destination":"_ALLOW_","Dimension":"_BLOCK_","Dte":"_BLOCK_","Eta":"_BLOCK_","FixType":"_BLOCK_","ImoNumber":"_BLOCK_","MaximumStaticDraught":"_BLOCK_","Name":"_BLOCK_","Type":"_ALLOW_","MMSI":"_ALLOW_","MMSI_String":"_BLOCK_","ShipName":"name","latitude":"_ALLOW_","longitude":"_ALLOW_","time_utc":"_BLOCK_","PartNumber":"_BLOCK_","ReportA":"_BLOCK_","ReportB":"_BLOCK_","Reserved":"_BLOCK_"},"pass":"_BLOCK_","drop":true,"x":210,"y":340,"wires":[["93790e94e694bdad","b5a3b1e0381d8a2f"]]},{"id":"5160bc824e174c8f","type":"remap","z":"4975721d532ca722","name":"","property":"payload.Message","outproperty":"payload","map":{"StandardClassBPositionReport":"_BLOCK_","PositionReport":"_ALLOW_","DataLinkManagementMessage":"_BLOCK_","ShipStaticData":"_BLOCK_","UnknownMessage":"_BLOCK_","StaticDataReport":"_ALLOW_","AidsToNavigationReport":"_BLOCK_","BaseStationReport":"_BLOCK_"},"pass":"_BLOCK_","drop":true,"x":210,"y":220,"wires":[["35eee8510a2373cf","beb941a57fee42ae"]]},{"id":"93790e94e694bdad","type":"change","z":"4975721d532ca722","name":"","rules":[{"t":"set","p":"payload.icon","pt":"msg","to":"ship","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":400,"wires":[["5e828f0e7988e0dd","304c861d1786eb5f"]]},{"id":"95a0182822654a18","type":"comment","z":"4975721d532ca722","name":"Pick out a couple of AIS reports we want and move under payload","info":"","x":740,"y":220,"wires":[]},{"id":"b915560cb921ccca","type":"comment","z":"4975721d532ca722","name":"Merge them all into payload by renaming them and attaching to msg","info":"","x":740,"y":280,"wires":[]},{"id":"303aa322996ce9c7","type":"comment","z":"4975721d532ca722","name":"Pick out the fields we want from payload and rename them for worldmap","info":"","x":760,"y":340,"wires":[]},{"id":"86bd0bc39d51531d","type":"comment","z":"4975721d532ca722","name":"Add ship icon and send to map","info":"","x":710,"y":400,"wires":[]},{"id":"25cb417711d6afd4","type":"comment","z":"4975721d532ca722","name":"<--- If missing you need to install node-red-contrib-web-worldmap","info":"","x":820,"y":440,"wires":[]},{"id":"c4969a518f312d32","type":"websocket-client","path":"wss://stream.aisstream.io/v0/stream","tls":"","wholemsg":"false","hb":"0","subprotocol":""}]