examples/Simple object remap.json
[{"id":"2bfcab0cc9dd0eec","type":"inject","z":"a44302f3357d18d3","name":"","props":[{"p":"t","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":160,"wires":[["1dce82fed324480b"]]},{"id":"1dce82fed324480b","type":"function","z":"a44302f3357d18d3","name":"some data","func":"msg.payload = {\n    foo: \"foo\",\n    bar: true,\n    bah: \"bah\",\n    fah: {a:\"a\"},\n    boo: 543256\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":160,"wires":[["7576861d6a9f99a1"]]},{"id":"c5f5509e5cd84db7","type":"debug","z":"a44302f3357d18d3","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":160,"wires":[]},{"id":"7576861d6a9f99a1","type":"remap","z":"a44302f3357d18d3","name":"","property":"payload","outproperty":"payload","map":{"foo":"_ALLOW_","bar":"_ALLOW_","bah":"lah","fah":"coo","boo":"_BLOCK_"},"pass":"_BLOCK_","x":430,"y":160,"wires":[["c5f5509e5cd84db7"]]}]